@charset "UTF-8";
@-webkit-keyframes pageIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }
@keyframes pageIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }
@-webkit-keyframes pageOut {
  from {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; } }
@keyframes pageOut {
  from {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0; } }
.gd-list-inline > li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.gd-clearfix, .gd-row {
  *zoom: 1; }
  .gd-clearfix:before, .gd-row:before, .gd-clearfix:after, .gd-row:after {
    content: "";
    display: table; }
  .gd-clearfix:after, .gd-row:after {
    clear: both; }

/*
H5全局
================================*/
@media all and (max-width: 640px) {
  html {
    font-size: 15px; } }
@media all and (max-width: 480px) {
  html {
    font-size: 15px; } }
@media all and (max-width: 360px) {
  html {
    font-size: 13px; } }
@media all and (max-width: 320px) {
  html {
    font-size: 13px; } }
@media all and (max-width: 240px) {
  html {
    font-size: 12px; } }
/*
全局防止越界
================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

/*
通用全局
================================*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #342E2C; }

html {
  background-color: #f1f1f1; }

button, html, input, select, textarea {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif; }

a {
  cursor: pointer;
  color: #342E2C; }

input {
  -webkit-appearance: none; }

/*
尺寸
================================*/
.fs5 {
  font-size: 0.385rem !important; }

.fs8 {
  font-size: 0.615rem !important; }

.fs10 {
  font-size: 0.769rem !important; }

.fs11 {
  font-size: 0.846rem !important; }

.fs12 {
  font-size: 0.923rem !important; }

.fs13 {
  font-size: 1rem !important; }

.fs14 {
  font-size: 1.077rem !important; }

.fs15 {
  font-size: 1.154rem !important; }

.fs16 {
  font-size: 1.23rem !important; }

.fs18 {
  font-size: 1.385rem !important; }

.fs20 {
  font-size: 1.53846rem !important; }

.fs24 {
  font-size: 1.846rem !important; }

.fs32 {
  font-size: 2.4615rem !important; }

.fs36 {
  font-size: 2.76923rem !important; }

.fw1 {
  font-weight: 100 !important; }

.fw2 {
  font-weight: 200 !important; }

.fw3 {
  font-weight: 300 !important; }

.fw4 {
  font-weight: 400 !important; }

.fw5 {
  font-weight: 500 !important; }

.fw6 {
  font-weight: 600 !important; }

.fw7 {
  font-weight: 700 !important; }

.fw8 {
  font-weight: 800 !important; }

/*
颜色
================================*/
.color-primary {
  color: #04B6F8; }

.color-success {
  color: #51B148; }

.color-cancel {
  color: #ff6d6d; }

.color-gray {
  color: #888888; }

.color-green-2 {
  color: #21BDBD; }

.color-gray-2 {
  color: #AAAAAA; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.clear {
  clear: both !important; }

/*
边距
================================*/
.margin-right-5 {
  margin-right: 5px; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 0.385rem !important; }

.mt8 {
  margin-top: 0.615rem !important; }

.mt10 {
  margin-top: 0.769rem !important; }

.mt11 {
  margin-top: 0.846rem !important; }

.mt12 {
  margin-top: 0.923rem !important; }

.mt13 {
  margin-top: 1rem !important; }

.mt14 {
  margin-top: 1.077rem !important; }

.mt15 {
  margin-top: 1.154rem !important; }

.mt16 {
  margin-top: 1.23rem !important; }

.mt18 {
  margin-top: 1.385rem !important; }

.mt20 {
  margin-top: 1.53846rem !important; }

.mt24 {
  margin-top: 1.846rem !important; }

.mt32 {
  margin-top: 2.4615rem !important; }

.mt36 {
  margin-top: 2.76923rem !important; }

.mb5 {
  margin-bottom: 0.385rem !important; }

.mb8 {
  margin-bottom: 0.615rem !important; }

.mb10 {
  margin-bottom: 0.769rem !important; }

.mb11 {
  margin-bottom: 0.846rem !important; }

.mb12 {
  margin-bottom: 0.923rem !important; }

.mb13 {
  margin-bottom: 1rem !important; }

.mb14 {
  margin-bottom: 1.077rem !important; }

.mb15 {
  margin-bottom: 1.154rem !important; }

.mb16 {
  margin-bottom: 1.23rem !important; }

.mb18 {
  margin-bottom: 1.385rem !important; }

.mb20 {
  margin-bottom: 1.53846rem !important; }

.mb24 {
  margin-bottom: 1.846rem !important; }

.mb32 {
  margin-bottom: 2.4615rem !important; }

.mb36 {
  margin-bottom: 2.76923rem !important; }

.ml5 {
  margin-left: 0.385rem !important; }

.ml8 {
  margin-left: 0.615rem !important; }

.ml10 {
  margin-left: 0.769rem !important; }

.ml11 {
  margin-left: 0.846rem !important; }

.ml12 {
  margin-left: 0.923rem !important; }

.ml13 {
  margin-left: 1rem !important; }

.ml14 {
  margin-left: 1.077rem !important; }

.ml15 {
  margin-left: 1.154rem !important; }

.ml16 {
  margin-left: 1.23rem !important; }

.ml18 {
  margin-left: 1.385rem !important; }

.ml20 {
  margin-left: 1.53846rem !important; }

.ml24 {
  margin-left: 1.846rem !important; }

.ml32 {
  margin-left: 2.4615rem !important; }

.ml36 {
  margin-left: 2.76923rem !important; }

.mr5 {
  margin-right: 0.385rem !important; }

.mr8 {
  margin-right: 0.615rem !important; }

.mr10 {
  margin-right: 0.769rem !important; }

.mr11 {
  margin-right: 0.846rem !important; }

.mr12 {
  margin-right: 0.923rem !important; }

.mr13 {
  margin-right: 1rem !important; }

.mr14 {
  margin-right: 1.077rem !important; }

.mr15 {
  margin-right: 1.154rem !important; }

.mr16 {
  margin-right: 1.23rem !important; }

.mr18 {
  margin-right: 1.385rem !important; }

.mr20 {
  margin-right: 1.53846rem !important; }

.mr24 {
  margin-right: 1.846rem !important; }

.mr32 {
  margin-right: 2.4615rem !important; }

.mr36 {
  margin-right: 2.76923rem !important; }

.pt5 {
  padding-top: 0.385rem !important; }

.pt8 {
  padding-top: 0.615rem !important; }

.pt10 {
  padding-top: 0.769rem !important; }

.pt11 {
  padding-top: 0.846rem !important; }

.pt12 {
  padding-top: 0.923rem !important; }

.pt13 {
  padding-top: 1rem !important; }

.pt14 {
  padding-top: 1.077rem !important; }

.pt15 {
  padding-top: 1.154rem !important; }

.pt16 {
  padding-top: 1.23rem !important; }

.pt18 {
  padding-top: 1.385rem !important; }

.pt20 {
  padding-top: 1.53846rem !important; }

.pt24 {
  padding-top: 1.846rem !important; }

.pt32 {
  padding-top: 2.4615rem !important; }

.pt36 {
  padding-top: 2.76923rem !important; }

.pb5 {
  padding-bottom: 0.385rem !important; }

.pb8 {
  padding-bottom: 0.615rem !important; }

.pb10 {
  padding-bottom: 0.769rem !important; }

.pb11 {
  padding-bottom: 0.846rem !important; }

.pb12 {
  padding-bottom: 0.923rem !important; }

.pb13 {
  padding-bottom: 1rem !important; }

.pb14 {
  padding-bottom: 1.077rem !important; }

.pb15 {
  padding-bottom: 1.154rem !important; }

.pb16 {
  padding-bottom: 1.23rem !important; }

.pb18 {
  padding-bottom: 1.385rem !important; }

.pb20 {
  padding-bottom: 1.53846rem !important; }

.pb24 {
  padding-bottom: 1.846rem !important; }

.pb32 {
  padding-bottom: 2.4615rem !important; }

.pb36 {
  padding-bottom: 2.76923rem !important; }

.pl5 {
  padding-left: 0.385rem !important; }

.pl8 {
  padding-left: 0.615rem !important; }

.pl10 {
  padding-left: 0.769rem !important; }

.pl11 {
  padding-left: 0.846rem !important; }

.pl12 {
  padding-left: 0.923rem !important; }

.pl13 {
  padding-left: 1rem !important; }

.pl14 {
  padding-left: 1.077rem !important; }

.pl15 {
  padding-left: 1.154rem !important; }

.pl16 {
  padding-left: 1.23rem !important; }

.pl18 {
  padding-left: 1.385rem !important; }

.pl20 {
  padding-left: 1.53846rem !important; }

.pl24 {
  padding-left: 1.846rem !important; }

.pl32 {
  padding-left: 2.4615rem !important; }

.pl36 {
  padding-left: 2.76923rem !important; }

.pr5 {
  padding-right: 0.385rem !important; }

.pr8 {
  padding-right: 0.615rem !important; }

.pr10 {
  padding-right: 0.769rem !important; }

.pr11 {
  padding-right: 0.846rem !important; }

.pr12 {
  padding-right: 0.923rem !important; }

.pr13 {
  padding-right: 1rem !important; }

.pr14 {
  padding-right: 1.077rem !important; }

.pr15 {
  padding-right: 1.154rem !important; }

.pr16 {
  padding-right: 1.23rem !important; }

.pr18 {
  padding-right: 1.385rem !important; }

.pr20 {
  padding-right: 1.53846rem !important; }

.pr24 {
  padding-right: 1.846rem !important; }

.pr32 {
  padding-right: 2.4615rem !important; }

.pr36 {
  padding-right: 2.76923rem !important; }

/*
清除浮动
================================*/
.gd-left {
  float: left;
  display: inline; }

.gd-right {
  float: right;
  display: inline; }

/*
UL横向显示
================================*/
.gd-list-inline {
  padding: 0;
  margin: 0;
  list-style: none; }

.gd-list-inline > li {
  padding-right: 5px;
  padding-left: 5px; }
  .gd-list-inline > li:last-child {
    padding-right: 0; }

/*
多栏布局
================================*/
.gd-row {
  width: 100%; }

.gd-col-3,
.gd-col-4,
.gd-col-6 {
  float: left;
  display: inline; }

.gd-col-3 {
  width: 25%; }

.gd-col-4 {
  width: 33.33%; }

.gd-col-6 {
  width: 50%; }

/*
业务全局
================================*/
.gd-container {
  width: 1080px;
  margin: 0 auto; }

.gd-hide {
  display: none; }

.text-right {
  text-align: right; }

.no-border-b:after {
  border-bottom: none; }

.slide-right-transition,
.slide-left-transition {
  transition: all 0.5s ease;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative; }

.slide-right-transition {
  float: right;
  right: 0; }

.slide-left-transition {
  float: left;
  left: 0; }

.slide-right-leave {
  right: 0;
  width: 0; }

.slide-right-enter {
  right: 100%;
  width: 0; }

.slide-left-leave {
  left: -100%;
  width: 0; }

.slide-left-enter {
  left: 0;
  width: 0; }

/*# sourceMappingURL=common.css.map */
