@import "core/define";

$dzzsize: 62.5%;
@media all and (max-width:640px) {
    html {
        font-size: $dzzsize*64/32;
    }
}@media all and (max-width:480px) {
    html {
        font-size: $dzzsize*48/32;
    }
}@media all and (max-width:360px) {
    html {
        font-size: $dzzsize*36/32;
    }
}@media all and (max-width:320px) {
    html {
        font-size: $dzzsize;
    }
}@media all and (max-width:240px) {
    html {
        font-size: $dzzsize*24/32;
    }
}